{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock %}

{% block content %}
  <section>
    <form action="" method="post" id="registro1">
      <h1 class="tituloR">Nueva cuenta</h1>
      {% csrf_token %}
      <div class="formulario">
        <div class="datos-principales">
          {{ form.username }}
          {{ form.first_name }}
          {{ form.last_name }}
          {{ form.email }}
          {{ form.telefono }}
          {{ form.password1 }}  
          {{ form.password2 }}</div>
        <div class="datos-envio">
          <h5>DATOS DE ENVÍO</h5>
          {{ form.paises }}
          {{ form.direccion }}
          {{ form.dpto_casa }}
          {{ form.codigo_postal }}
        </div>
      </div>
      <button id="confirmar1" type="submit" class="btn btn-success">CREAR</button>
    </form>

    {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>
                <strong>{{ field.label }}:</strong> {{ error }}
              </li>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </section>
{% endblock %}
