{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<br>

<hr>
<h1 class="tituloC">
  Carrito de compras
</h1>
<hr>
<br>
<br>
<section class="Carro-compra">
  <table>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Detalle</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in carro %}
      <tr>
        <td>{{ item.0 }}</td>
        <td>{{ item.1 }}</td>
        <td><img src="{{ item.2 }}" alt=""></td>
        <td>{{ item.3 }}</td>
        <td>{{ item.4 }}</td>
        <td>{{ item.5 }}</td>
        <td>
          <a href="{% url 'dropitem' item.0 %}">
            <img src="{% static 'images/icons8_eraser_30px.png' %}" alt="">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>

{% if not carro %}
<div id="Mensaje-carrito">
  <h2>Tu carrito esta vacio!.</h2>
</div>
{% else %}
<div class="comprar">
  <a href="{% url 'comprar' %}">Comprar</a>
</div>
{% endif %}

{% endblock %}