{% extends 'core/base.html' %}
{% load static %}

{% block head %}
  <!-- Materialize js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- CSS Estilos -->
  {% comment %} <link rel="stylesheet" href="{% static 'css/Bootstraps/estilos.css' %}" /> {% endcomment %}

  <!-- JS Main -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col s12">
            <hr>
            <h1 class="titulo-talentos">TALENTOS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore in earum rerum asperiores accusantium, cum pariatur autem eos, enim, omnis nam. Doloremque exercitationem non corrupti. Dolores quibusdam commodi doloremque in!</p>
            <hr>

          <div class="carousel center-align">
            <!-- CAROUSEL SLIDE 1 -->
            <div class="carousel-item">
              <h2 class="carousel-text">Kotone Asahi</h2>
              <img src="{% static 'images/KotoneAsahi.jfif' %}" alt="" />
            </div>

            <!-- CAROUSEL SLIDE 2 -->
            <div class="carousel-item">
              <h2 class="carousel-text">Shouko Okami</h2>
              <img src="{% static 'images/SHOUKOOKAMI.png' %}" alt="" />
            </div>

            <!-- CAROUSEL SLIDE 3 -->
            <div class="carousel-item">
              <h2 class="carousel-text">Moeleto</h2>
              <img src="{% static 'images/MOELETOCHAN.jfif' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
